name: "check cddl and candid files"
on:
  push:
jobs:
  cddl-candid:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Check cddl files
      run: |
        docker run --rm -v $PWD/spec/_attachments:/workdir ghcr.io/anweiss/cddl-cli:0.9.1 compile-cddl --cddl /workdir/certificates.cddl
        docker run --rm -v $PWD/spec/_attachments:/workdir ghcr.io/anweiss/cddl-cli:0.9.1 compile-cddl --cddl /workdir/chunked-wasms.cddl
        docker run --rm -v $PWD/spec/_attachments:/workdir ghcr.io/anweiss/cddl-cli:0.9.1 compile-cddl --cddl /workdir/requests.cddl
    - name: Check candid files
      run: |
        curl -L https://github.com/dfinity/candid/releases/download/2023-07-25/didc-linux64 -o didc
        chmod +x didc
        ./didc check spec/_attachments/http-gateway.did
        ./didc check spec/_attachments/ic.did
